<?php
if(isset($_POST['submit'])){
    $name = $_POST['name'];
    $name = htmlspecialchars($name, ENT_QUOTES);
    $dsn = 'mysql:dbname=tsuji_todo;host=localhost;charset=utf8';
    $user = 'root';
    $password = '';
    $dbh = new PDO($dsn, $user, $password);
    
    $dbh->query('SET NAMES utf8');
    $dbh->setAttribute(PDO::ATTR_EMULATE_PREPARES, false);

    $sql = 'INSERT INTO tasks(name, done) VALUES(?, 0)';
    $stmt = $dbh ->prepare($sql);

    $stmt->bindValue(1, $name, PDO::PARAM_STR);

    $stmt->execute();
    $dbh = null;
    unset($name);
}
?>
<!doctype html>
<html>
<head>
<meta charaset="utf-8">
<title>Todoリスト</title>
</head>
<body>
<h1>Todoリスト</h1>
<form action="todo_index" method = "post">
<ul>
<li><span>タスク名</span><input type="text" name="name"/></li>
<li><input type="submit" name="submit"></li>
</ul>
</form>
</body>
</html>